body {
    font-family: 'Fira Sans', sans-serif;
}

.jumbotron-fluid {
    background-color: rgb(67, 180, 245);
    color: white;
    text-align: center;
    align-items: center;
    font-weight: bold;
    justify-content: start;
}

.card-header {
    height: 350px;
}

.form-inline {
    margin-bottom: 5px;
}

.list-group-item {
    margin: 5px;
    text-align: left;
}

#search {
    padding: 0;
}

#city-stats {
    height: 350px;
    margin-left: 25px;
}
.UV-section{
    display: inline;
}

.UV {
    background-color: coral;
    padding: 10px;
    border: rgb(140, 140, 140) solid 0.5px;
    border-radius: 12px;
    display: inline;
    visibility: hidden;
}

.five-day { 
    padding: 0;
    margin: 25px 25px 25px 50px;
} 

.forecast-card {
    background-color: rgb(89, 233, 89);
    width: 180px;
    height: 200px;
    margin: 3px;
    font-weight: 400;
    line-height: 2;
    display: inline-block;
    border: solid 0.5px rgb(52, 141, 52);
    text-align: center;
}

.date1,
.date2,
.date3,
.date4,
.date5 {
    font-weight: 600;
    font-size: 24px;
}