body {

}

.jumbotron-fluid {
background-color: rgb(3, 3, 39);
color: white;
text-align: center;
align-items: center;
font-weight: bold;
justify-content: start;
}

.card-header {
    height: 350px;
}

#search {
    padding: 0;
}

#city-stats {
    height: 350px;
    margin-left: 25px;
}

.five-day { 
    padding: 0;
    margin: 25px;
} 

.forecast-card {
    background-color: rgb(89, 233, 89);
    width: 150px;
    height: 200px;
    margin: 15px;
    line-height: 2;
    display: inline-block;
}